<<<<<<< 745f47fba9ee4b8802e04a4b889c3c6f9890e89b
=======
<!--
static file to create home page with bootstrap.
Unsure if public file should be in 'routes' folder or in 'src' folder on same level of 'routes' folder
-->
>>>>>>> comment out react link from the head of the file
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="minimum-scale=1.0, width=device-width, maximum-scale=1.0, user-scalable=no" />
  <meta charset="utf-8">

  <!-- bootstrap  -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <!-- React -->
  <!-- <script src="https://fb.me/react-15.0.1.js"></script> -->
  <!-- <script src="https://fb.me/react-dom-15.0.1.js"></script> -->
  <script src="./routes/index.js"></script>

  <title>AppStore</title>
</head>

<body>
<<<<<<< 745f47fba9ee4b8802e04a4b889c3c6f9890e89b

  <div class="jumbotron">
    <h1> APP STORE HOME VIEW </h1>
    <p>
      The All New FS AppStore for Gamers everywhere, The Wave Is Here!
    </p>
    <!-- <a role="button" href="/status" class="btn btn-primary btn-lg">VIEW STATUS ROUTE</a> -->
  </div>

  <div class="container-fluid">

  </div>


=======
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">

        <h1>APP STORE HOME VIEW(beta)</h1>
        <h2 class="bg-success">Bootstrap connected</h2>
        <a role="button" href="/status" class="btn btn-primary btn-lg">VIEW STATUS ROUTE</a>
      </div>
    </div>
  </div>

>>>>>>> comment out react link from the head of the file
  <div id="app" class="one"></div>


</body>
</html>
